Django==1.5.1
South==0.8.1
PIL
django-stdimage==0.2.2
django-transmeta==0.6.10
wsgiref==0.1.2
yolk==0.4.3
django-filter==0.6
django-widget-tweaks==1.3
django-pagination==1.0.7
django-rosetta==0.7.2
django-pipeline==1.3.17
yuicompressor
psycopg2
#django-tracking==0.4.1 install this with "hg clone http://bitbucket.org/codekoala/django-tracking" & easy_install!
#google_analytics install this with pip install git+git://github.com/clintecker/django-google-analytics.git