{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reports for" %} {{city.name}}{% endblock %}
{% block content %}
<div id="page-content-container">
	<div id="fullwidth">
	<h3>{% trans "Reports for" %} {{city.name}}</h3>
	{% if top_problems %}
	<div id="city_top_problems">
		<p><b>{% trans "Top Problems" %}</b></p>
		<table>
			<tr>
				<th class='table-intro'>{% trans "Rank" %}</th>
				<th class='row-text' >{% trans "Problem" %}</th>
				<th class='table-stat'>{% trans "Number of Subscribers" %}</th>
			</tr>
			{% for top_problem in top_problems %}
			<tr class="{% cycle 'row-odd' 'row-even' %}">
				<td>{{forloop.counter}}</td>
				<td><a href='{{top_problem.get_absolute_url}}'>{{top_problem.title}}</a></td>
				<td width="30px;">{{top_problem.subscriber_count|add:"1"}}</td>
			</tr>
			{% endfor %}
		</table>
		<br/>
	</div>
	{% endif %}
	<div id="city_all_problems">
		<p><b>{% trans "Reports by Ward" %}</b></p>
		{% include "cities/_report_count_table.html" %}		
	</div>
	</div>
	<br/ style="clear:both;">
		<div id="reports_by_category">
		<p><b>{% trans "Categories" %}</b></p>
		<table style="width:50%;">
			{% for cat in categories %}
			<tr class="{% cycle 'row-odd' 'row-even' %}" style="line-height:30px;">
				<td>{{forloop.counter}}</td>
				<td><a href='{% url "mainapp.views.cities.category" city.id cat.id %}'>{{cat.name}}</a></td>
			</tr>
			{% endfor %}
		</table>
		<br/>
	</div>
</div>

{% endblock %}
