{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="page_content_container">
<h2>{% trans "Contact Us" %}</h2>
{% blocktrans %}
<p>
	Please <strong>DO NOT</strong> report problems through this form.
	Messages go to the team behind FixMyStreet.ge, not to city councillors.
</p>
<p>
	To report a problem, please follow the instructions <a href="/">here</a>.
</p>
<p><a href="http://transparency.ge/en">Transparency International Georgia</a><br />
26, Rustaveli Avenue<br />
0108 Tbilisi,<br />
Georgia<br />
Email: <a href="mailto:fixmystreet@transparency.ge">fixmystreet@transparency.ge</a><br />
Follow TI Georgia on <a href="https://www.facebook.com/TransparencyInternationalGeorgia">Facebook</a>
and <a href="https://twitter.com/#!/TIGeorgiaEng">Twitter</a></p>
<p>We'd love to get your feedback on this site:</p> 
{% endblocktrans %}
<form action="/contact" method="POST">
<table class='form'>
{{contact_form}}
<tr>
	<td></td>
	<td>
		<input type="submit" name="Submit" value="{% trans "Send" %}">
	</td>
</tr>
</table>
</form>

</div>

{% endblock %}
