{% extends "base.html" %}
{% load i18n %}
{% load static_tags %}
{% load reports_tags %}
{% block title %}
    {% trans "Questions" %}
{% endblock %}
{% block content %}
    <div class="container">
    <div id="faq">
        <div class="row">
            <div class="col-12 col-sm-8 col-lg-8">
                <h3>{% trans "About Chemikucha.ge - FixMyStreet Georgia" %}</h3>

                <div class="accordion" id="faq-accordion">
                    {% for faq in faq_entries %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <h5><a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-accordion"
                                       href="#collapse-{{ forloop.counter }}"
                                       name="{{ faq.q|urlencode }}"
                                       href="#{{ faq.q|urlencode }}">{{ faq.q }}</a></h5>
                            </div>
                            <div id="collapse-{{ forloop.counter }}" class="accordion-body collapse">
                                <div class="accordion-inner">{{ faq.a|safe }}</div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-4">
                {% _about_us_sidebar %}
                <div class="report-updates"><h3>{% trans "Last Updates"%}</h3>
                    {% latest_reports 8 %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
