{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans "Questions" %}
{% endblock %}
{% block content %}
<div id="page_content_container">

<h3>{% trans "About Chemikucha.ge - FixMyStreet Georgia" %}</h3>
<div id="faq">
    <ul id="faq-list">
    {% for faq in faq_entries %}
    <li><a href="#{{faq.q|urlencode}}">{{faq.q}}</a></li>
    {%endfor%}
    </ul>
	{% for faq in faq_entries %}
	<h4><a name="{{faq.q|urlencode}}" href="#{{faq.q|urlencode}}">{{faq.q}}</a></h4>
	<p>{{faq.a|safe}}</p>
	{% endfor %}

<h4>{% trans "Credits" %}</h4>
{% blocktrans %}
<p>We would like to thank the <a href="http://www.tbilisi.gov.ge">City of Tbilisi</a> for being open and cooperative to this new idea.
<p>Thank you to <a href="http://www.epfound.ge/">Eurasia Partnership Foundation</a> and their donors who have made this project possible and to <a href="http://omc.ge">OMC-Jumpstart International </a> for creating a great open-source map of Tbilisi.</p>

<p>FixMyStreet Georgia is based on the code of <a href="http://fixmystreet.ca">FixMyStreet Canada</a>, developed by Chris Taggart for <a href="http://www.openottawa.org">Open Ottowa</a>.</p>
<p>The FixMyStreet concept was created by <a href="http://www.mysociety.org/">MySociety</a> in the United Kingdom.</p>

<p>Derek Dohler and Nutsa Tughushi adapted the site for Georgia.</p>
{% endblocktrans %}
</div>
</div>
{% endblock %}
