<!DOCTYPE html>
{% load i18n %} {% get_current_language as LANGUAGE_CODE %}
{% load static from staticfiles %}
{% load compressed %}
{% load settings_in_templates %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% endblock %} | {% trans "FixMyStreet .ge" %}</title>
    {% compressed_css 'main_css' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" hreflang="ka" href="https://www.chemikucha.ge/ka/" />
    <link rel="alternate" hreflang="en" href="https://www.chemikucha.ge/en/" />

    {% block head %}
    {% endblock %}

    <!--[if IE 8]>
    {% compressed_js 'ie_js' %}
    {% compressed_css 'ie' %}
    <![endif]-->

    <!--[if lt IE 8]>
    {% compressed_css 'ie_deprecated' %}
    <![endif]-->

    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compressed_js 'main_js' %}

    {% block css %}{% endblock %}

    {% block script %}
    {% endblock %}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={% settings_value "GMAP_KEY" %}&sensor=true&libraries=places"></script>

</head>
<body class="lang-{{ LANGUAGE_CODE }}" {% block body_tags %}{% endblock %}>
{% block body_script %}{% endblock %}
<!--[if lt IE 8]><div id="ie-deprecated"><div style='clear: both; height: 112px; padding:0; position: fixed; top:50%; left:50%;
margin-left:-174px;margin-top:-56px'><a
        href="http://www.theie7countdown.com/ie-users-info"><img src="http://www.theie7countdown.com/assets/badge_iecountdown.png" border="0" height="112" width="348" alt="" /></a></div></div>
<![endif]-->
<noscript>
    <div class="noscript-pad"></div>
    <div class="panel-warning noscript">
        {% blocktrans %}
            This site uses a lot of javascript (in fact, site is unusable without it) - so please
            <a href="http://www.enable-javascript.com/" target="_blank">enable it</a>
        {% endblocktrans %}
    </div>
</noscript>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#fms-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs visible-sm" href="{% url 'home' %}">
                <img class="fms-logo" alt="Fixmystret Georgia" title="Fixmystret Georgia" src="{% static 'images/main/fms-logo-'|add:LANGUAGE_CODE|add:'.png' %}"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="fms-navigation">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'report_list' %}">{% trans "All Reports" %}</a></li>
                <li><a href="{% url 'about' %}">{% trans "Questions" %}</a></li>
            </ul>

            <ul class="nav navbar-nav nav-logo hidden-sm hidden-xs">
                <li><a class="navbar-brand" href="{% url 'home' %}">
                    <img class="fms-logo" alt="Fixmystreet Georgia" title="Fixmystret Georgia"
                         src="{% static 'images/main/fms-logo-'|add:LANGUAGE_CODE|add:'.png' %}"/></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% block navbar_right %}
                    {% include 'menu_profile.html' %}
                    <li class="contact-menu"><a id="menu-contact"
                                                href="{% url 'contact_new' %}">{% trans "Contact" %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Language" %}
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            {% for lang in LANGUAGES %}
                                <li class="lang-choose"><a href="#" data-lang="{{ lang.0 }}">{{ lang.1 }}</a></li>
                            {% endfor %}
                            <span id="no-lang-path" data-next="{{ request.session.no_lang_path }}"></span>
                        </ul>

                    </li>
                {% endblock %}
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% if messages %}
    <script type="application/javascript">
        var dj_messages = [{% for message in messages %}"{{ message|escape }}",{% endfor %}];

        $(function () {
            var message = dj_messages.pop();
            $('#message .modal-body').html(message);
            $('#message').modal("toggle");

            $('#message').on('hidden.bs.modal', function (e) {
                if (dj_messages.length > 0) {
                    var message = dj_messages.pop();
                    $('#message .modal-body').html(message);
                    $('#message').modal("toggle");
                }
            });
        });

    </script>
    <div class="modal fade in" id="message" tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Message" %}</h4>
                </div>
                <div class="modal-body h4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div id="cut-container" class="container visible-lg">
    <div id="cut"></div>
</div>
<div id="content">
    {% if error_msg %}
        <div id="error-msg">{{ error_msg }}</div>
    {% endif %}

    {% block content %}
        {% block sidebar %}
        {% endblock %}
    {% endblock %}

</div>
<footer id="fms-footer">
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div id="donor-footer">
                        <label>{% trans 'Our Donor:' %}</label>
                        <a href="http://www.sida.se/english/"></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="social-links">
                        <li>
                            <iframe src="https://ghbtns.com/github-btn.html?user=tigeorgia&repo=fixmystreet&type=watch"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="62"
                                    height="20"></iframe>
                        </li>
                        <li>
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-url="http://www.chemikucha.ge" data-text="Fix your city problems!">Tweet</a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
{% block endbody %}{% endblock %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-19239335-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
