<!DOCTYPE html>
{% load i18n %} {% load analytics %} {% get_current_language as LANGUAGE_CODE %}
{% load static from staticfiles %}
{% load compressed %}
{% load settings_in_templates %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% endblock %} | {% trans "FixMyStreet .ge" %}</title>
    {% compressed_css 'main_css' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if IE 8]>
    {% compressed_js 'ie_js' %}
    {% compressed_css 'ie' %}
    <![endif]-->

    <!--[if lt IE 8]>
    {% compressed_css 'ie_deprecated' %}
    <![endif]-->

    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compressed_js 'main_js' %}

    {% block css %}{% endblock %}

    {% block script %}
    {% endblock %}

   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={% settings_value "GMAP_KEY" %}&sensor=true&libraries=places"></script>

</head>
<body class="lang-{{ LANGUAGE_CODE }}" {% block body_tags %}{% endblock %}>
{% block body_script %}{% endblock %}
<!--[if lt IE 8]><div id="ie-deprecated"><div style='clear: both; height: 112px; padding:0; position: fixed; top:50%; left:50%;
margin-left:-174px;margin-top:-56px'><a
        href="http://www.theie7countdown.com/ie-users-info"><img src="http://www.theie7countdown.com/assets/badge_iecountdown.png" border="0" height="112" width="348" alt="" /></a></div></div>
<![endif]-->
<noscript>
    <div class="noscript-pad"></div>
    <div class="panel-warning noscript">
        {% blocktrans %}
            This site uses a lot of javascript (in fact, site is unusable without it - so please
            <a href="http://www.enable-javascript.com/" target="_blank">enable it</a>)</div>
        {% endblocktrans %}
</noscript>
<div class="navbar">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand visible-sm" href="{% url 'home' %}">
            <img class="fms-logo" alt="Fixmystret Georgia" title="Fixmystret Georgia"
                 src="{% static 'images/main/fms-logo-'|add:LANGUAGE_CODE|add:'.png' %}"/>
        </a>

        <div class="nav-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav nav-left">
                <li><a href="{% url 'mainapp.views.reports.main.report_list' %}">{% trans "All Reports" %}</a></li>
                <li><a href="{% url 'about' %}">{% trans "Questions" %}</a></li>
            </ul>

            <ul class="nav navbar-nav nav-logo hidden-sm">
                <li><a class="navbar-brand" href="{% url 'home' %}">
                    <img class="fms-logo" alt="Fixmystreet Georgia" title="Fixmystret Georgia"
                         src="{% static 'images/main/fms-logo-'|add:LANGUAGE_CODE|add:'.png' %}"/></a>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-right">

                <li class="contact-menu"><a id="menu-contact" href="/contact">{% trans "Contact" %}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Language" %}
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        {% for lang in LANGUAGES %}
                            <li class="lang-choose"><a href="#" data-lang="{{ lang.0 }}">{{ lang.1 }}</a></li>
                        {% endfor %}
                    <span id="no-lang-path" data-next="{{request.session.no_lang_path}}"></span>
                    </ul>

                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>


<div id="cut-container" class="container visible-lg">
    <div id="cut"></div>
</div>
<div id="content">
    {% if error_msg %}
        <div id="error-msg">{{ error_msg }}</div>
    {% endif %}

    {% block content %}
        {% block sidebar %}
        {% endblock %}
    {% endblock %}

</div>
{% block endbody %}{% endblock %}
{% analytics "UA-19239335-1" %}
</body>
</html>
