{% load i18n %}
{# load googleanalytics_tags #}
{% load analytics %}
<html>
<head>
    <meta name="google-site-verification" content="xm9edHANmF2FStQkLknknSZM4Rz1TX6Q-0vG-59dy0c" />
    <meta name="google-site-verification" content="dawDvNOnivoTMIZxLGQHzc4f-zhZs8D8fe4yY98Xy3E" />
    <meta keywords="fix my street fixmystreet georgia chemi kucha chemikucha tbilisi repair streets pothole sidewalk street vandalism manhole trees trash collection trasffic streetlight sewage problem park electrical wires abandoned vehicle or and ჩემი ქუჩა საქართველო თბილისი შეაკეთე შეტყობინება შეტყობინებები შეკეთება ქუჩის გაფუჭებული დაზიანებული ქუჩები ორბო ორმოები ასფალტი დანგრეული ტროტუარი ვანდალიზმი თავახდილი ლუქი ხე ხეები ნაგავსაყრელი უკანონო ტრანსპორტი უსაფრთხოება ქვეითები საგზაო ნიშანი განათება დსუფთავება კანალიზაცია კანალიზაციის მილი მჟონავი დაზიანება პარკები მილები მილი პარკი ელექრტო სადენები სადენი ან და" />
	<title>{% trans "FixMyStreet .ge" %} - {% block title %}{% trans "Home" %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/css/global.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/typography.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/layout-6.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/fms-custom.css" />
       {% block css %}{% endblock %}
	{% block script %}{% endblock %}	
</head>
	<body>
		<div id="content_container">
			<div id="page_container">
				<div id="header">
					<div id="header_left">
						<a href='/'><img src='/media/images/{% trans "fixmystreetlogo.png" %}'></a>
					</div>
					<div id="header_right">
						<a href='http://www.transparency.ge'><img src='/media/images/{% trans "sitebyvg.png" %}'></a>
					</div>
				</div>
				<div id="top_menu"><div id='top_menu_tr'><div id='top_menu_bl'><div id='top_menu_br'>
					<div id="top_menu_links"><div>
					<ul>
						<li><a href="/" >{% trans "Home" %}</a></li>
                        <!--Remember to switch back to /cities/ if we add some other city-->
						<li><a href={% block all_reports_link %}"/cities/2"{% endblock %}>{% trans "All Reports" %}</a></li>
						<li><a href="/contact/">{% trans "Contact" %}</a></li>
						<li><a href="/about/">{% trans "Questions" %}</a></li>
					</ul>
					</div></div>
					<div id="language">
						<form action="/i18n/setlang/" method="post">
						<select name="language">
						{% for lang in LANGUAGES %}
						<option value="{{ lang.0 }}">{{ lang.1 }}</option>
						{% endfor %}
						</select>
						<input type="submit" value="Go" />
						</form>
					</div>
                <div id="fb-root" ></div><script src="http://connect.facebook.net/en_US/all.js#appId=182535501803546&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/%E1%83%A9%E1%83%94%E1%83%9B%E1%83%98-%E1%83%A5%E1%83%A3%E1%83%A9%E1%83%90-%E1%83%A1%E1%83%90%E1%83%A5%E1%83%90%E1%83%A0%E1%83%97%E1%83%95%E1%83%94%E1%83%9A%E1%83%9DFixMyStreet-Georgia/106051469489453" send="false" layout="button_count" width="100px" style="margin-left:50em; position:absolute; top:105px;" show_faces="true" font=""></fb:like>
                    </div>

				</div></div></div></div>
				<div id="content">
					{% if error_msg %}
						<div id="error-msg">{{error_msg}}</div>
					{% endif %}				
					{% block content %}{% endblock %}
				</div>
				<div id="footer">
 					<div><a href="{% trans "http://www.epfound.ge/" %}"><img src="/media/images/epf-logo.png" width="200px"></a></div>
  					<div><a href="{% trans "http://transparency.ge/en" %}">{% trans "Transparency International Georgia" %}</a></div>
					<div id='bugreport'>{% trans "Find a bug?" %} <a href="/contact/">{% trans "Tell us" %}</a>!</div>
				</div>
			</div><!--end page_container -->
			</div><!-- end of content container -->
		{% block endbody %}{% endblock %}
		{# googleanalytics #}
		{% analytics "UA-19239335-1" %}
    	</body>
</html>
