{% extends "base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load static_tags %}
{% load reports_tags %}
{% block css %}
    <!--<style type="text/css" media="screen">
        #supported_cities { font-size: 80%; }
        #front-page  { text-align: center; min-height:500px; width: 100%; }
        #status  { text-align: center; min-height:450px; width: 100%; }
        .block { text-align: left; }
    </style>-->
{% endblock %}
{% block script %}
    <script type="text/javascript">

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
                center: new google.maps.LatLng(41.708484, 44.79847),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),
                    mapOptions);
            var input = /** @type {HTMLInputElement} */(document.getElementById('address_search'));
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
            autocomplete.setComponentRestrictions({'country': 'GE'});
            window.infowindow = new google.maps.InfoWindow({
                maxWidth: 300
            });


            //START GOOGLE MAPS AUTOCOMPLETE
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                input.className = '';
                var place = autocomplete.getPlace();
                console.log(place);
                if (!place.geometry) {
                    // Inform the user that the place was not found and return.
                    input.className = 'notfound';
                    return;
                }

                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }
            });

            //END GOOGLE MAPS AUTOCOMPLETE

            google.maps.event.addListenerOnce(map, 'idle', function () {
                FMS.loadDivs();
                FMS.populateMarkers();
            });
        }
    </script>
{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block body_tags %}onload='initialize()'{% endblock %}

{% block content %}
    <div class="row home-map">
        <div class="container">
            <div class="col-11">
                <div class="choose-city home-left hidden-lg">
                    <label id="home-step-1">{% trans "Step 1. Click on your city to report a problem" %}</label>
                    <ul class="cities-home">
                        <li class="button btn-default cities" data-city="Tbilisi">{% trans "Tbilisi" %}</li>
                        <li class="button btn-default cities" data-city="Batumi">{% trans "Batumi" %}</li>
                        <li class="button btn-default cities" data-city="Kutaisi">{% trans "Kutaisi" %}</li>
                        <li class="button btn-default cities" data-city="Zugdidi">{% trans "Zugdidi" %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="deskt-city" class="col-12 col-lg-8 left-home">
            <div id="map-buttons">
                <div id="change-city" class="dropdown">
                    <span data-toggle="modal" data-target="#changecityModal"
                          class="btn glyphicon glyphicon-share-alt"></span>

                    <div class="modal fade" id="changecityModal" tabindex="-1" role="dialog"
                         aria-labelledby="changecityLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="changecityLabel">{% trans "Choose city" %}</h4>
                                </div>
                                <div class="modal-body">
                                    <ul id="city-boxes" class="cities-moveto">
                                        {% for city in cities %}
                                            {% language 'en' %}
                                                <li data-city="{{ city|lower }}">
                                                <div style="background: url(
                                                        {% static 'images/choose-city/' %}{{ city|lower }}.jpg)" class="city-image"></div>
                                            {% endlanguage %}
                                        <label>{{ city }}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-lg" id="left-image"
                 style="background:url({{ STATIC_URL }}{{ random_image }}) no-repeat; height: 460px;"></div>

            <div class="choose-city home-left visible-lg">
                <div id="page-title-home" class="page-header-title ">{% trans "Let's fix our streets together" %}</div>
                <label>{% trans "Choose your city and report a problem" %}</label>
                <ul class="cities-home cities-moveto">
                    <li id="home-search" class="btn btn-default btn-fixed">{% trans 'Search' %}</li>
                    <li class="cities btn btn-white" data-city="Tbilisi">{% trans "Tbilisi" %}</li>
                    <li class="cities btn btn-white" data-city="Batumi">{% trans "Batumi" %}</li>
                    <li class="cities btn btn-white" data-city="Kutaisi">{% trans "Kutaisi" %}</li>
                    <li class="cities btn btn-white" data-city="Zugdidi">{% trans "Zugdidi" %}</li>
                </ul>
            </div>

        </div>
        <div id="map-home" class="col-sm-12 col-lg-4 right-home">
            <div id="right-overlay" class="visible-lg col-6 col-lg-12"></div>
            <div id="{{ google.dom_id }}" class="map-height"></div>
        </div>

        <div class="col-lg-4 col-sm-12 col-md-12" id="preform">

            <div class="address-search-form-wrapper start-hidden hidden-lg">
                <form action="#" method="POST" class="address-search-form" name="address-search" onsubmit="return false;">
                    <fieldset>
                        <input name="address_search" class="form-control" placeholder="{% trans 'Address' %}" id="address_search-mobile">
                        <input class="geocode-city" class="form-control" type="hidden" name="geocode-city" value="">
                        <button type="submit" class="search-street btn btn-default" style="width:100%">
                            {% trans "Search Street" %}</button>
                    </fieldset>
                </form>
                <button class="add-marker btn btn-default btn-fixed" id="add-marker-mobile" onclick="FMS.addressMarker()">
                    {% trans "Add marker" %}</button>
            </div>

            <p class="start-hidden">
                {% trans "Enter your address on the map, press search and drag marker to desired location. Then fill out this form and press continue" %}</p>

            <form action="" class="start-hidden-form" style="display:block;" id="check-email" name="check-email" method="get">
                {% bootstrap_form check_email %}
                <button class="btn btn-default pull-right" type="submit">{% trans "Submit" %}</button>
            </form>

            <form class="start-hidden-form" id="ajax-login" name="ajax-login" method="post">
                <div class="error-container">

                </div>
                {% csrf_token %}
                {% bootstrap_form ajax_login %}
                <button class="btn btn-default btn-block btn-lg" type="submit">{% trans "Login" %}</button>
            </form>

            <form class="start-hidden-form" name="new-report" id="new-report" action="" method="post">
                <fieldset>
                    <div class="checkbox">
                        <label id="geokbd">
                            {% trans "Georgian keyboard" %}
                            <input type="checkbox" name="geo_kbd_report" id="geo_kbd_report"
                                   checked="checked"/>
                        </label>
                    </div>
                    {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}
                            {{ wizard.form }}
                        {% endif %}
                    <button id="home-report" class="btn btn-default pull-right" type="submit">{% trans "Submit" %}</button>
                </fieldset>
            </form>


            <script type="text/javascript">
                GeoKBD.map({
                    "form": 'new-report',
                    "switcher": 'geo_kbd_report',
                    'excludeFields': ['email', 'address_search']
                });
            </script>



        </div>
        <div id="tig-overlay-logo" class="pull-right hidden-sm">
                <img src="{% static 'images/main/tig-logo-'|add:LANGUAGE_CODE|add:'.png' %}"/>
            </div>
        <div class="address-search-form-wrapper start-hidden visible-lg">
            <form action="#" method="POST" class="address-search-form" name="address-search" onsubmit="return false;">
                <fieldset>
                    <input name="address_search" class="form-control" placeholder="{% trans 'Address' %}" id="address_search">
                    <input class="geocode-city" class="form-control" type="hidden" name="geocode-city" value="">
                    <button type="submit" id="search-street"></button>
                </fieldset>
            </form>
            <button class="add-marker" onclick="FMS.addressMarker()"></button>
        </div>
    </div>






    <img id="box-transpar-logo" src="{% static 'images/main/tig-logo-'|add:LANGUAGE_CODE|add:'.png' %}"
            />

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-lg-8">
                <div id="how-to-home">
                    <h4>{% trans "How to report a Problem" %}</h4>
                    <ol>
                        <li>{% trans "Click on your city" %}</li>
                        <li>{% trans "Type in your address" %}</li>
                        <li>{% trans "Click on a marker button and drag it to desired location" %}</li>
                        <li>{% trans "Fill in the details in the form" %}</li>
                        <li>{% trans "Upload a photo if you have one" %}</li>
                        <li>{% trans "We send it to the city on your behalf" %}</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-lg-4 home-box">
                        <div class="home-round">
                            <div class="home-round-inner">
                                <a href="{% url 'report_list' %}?created_after={{ last_year }}&status=fixed">
                                    {{ report_counts.fixed.get_counts }}<br>
                                    {% trans "Reports Fixed" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 home-box">
                        <div class="home-round">
                            <div class="home-round-inner">
                                <div class="home-count">
                                    <a href="{% url 'report_list' %}?created_after={{ last_year }}">
                                        {{ report_counts.get_counts }}<br>
                                        {% trans "Reports Filed in the past year" %}
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="home-images">
                    <h3>{% trans 'Latest report photos:' %}</h3>
                    {% for key, values in photos.iteritems %}
                        {% if key == 'photos_not_fixed' %}
                            <h4>{% trans 'Not fixed:' %}</h4>
                            <div id="not-fixed-reports">
                        {% elif key == 'photos_fixed' %}
                            <h4>{% trans 'Fixed:' %}</h4>
                            <div id="fixed-reports">
                        {% endif %}
                    <ul>
                        {% for value in values %}
                            <li><a href="{{ value.get_absolute_url }}"><img width="133" height="100"
                                                                            src="{{ value.photo.thumbnail.url }}"/></a>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-4">
                    {% _about_us_sidebar %}
                    <div class="report-updates"><h3>{% trans "Last Updates" %}</h3>
                        {% latest_reports 10 %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}